@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en-US">
    <link rel="stylesheet" type="text/css" href="../../Scripts/jquery-easyui-1.4.3/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../Scripts/jquery-easyui-1.4.3/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../../Scripts/jquery-easyui-1.4.3/themes/color.css">
    <script type="text/javascript" src="../../Scripts/jquery-easyui-1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
</head>
<body>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
</body>
</html>
