@model PSS_Weltec.Models.User

@{
    ViewBag.Title = "UserChangePassWord";
    Layout = "~/Views/Shared/FrameShare.cshtml";
}

<div region="center" title="" border="true" style="padding:0px 0px 0px 0px;overflow:hidden;">
    <div title="" class="easyui-layout" fit="true" style="background:#fafafa;">
        <div region="north" title="" border="false" style="height:30px;overflow:hidden;">
            <div class="div_toolbar" style="float:left; height:26px; width:100%;border-bottom:1px solid #99BBE8; padding:1px;">
			    <a href="#" class="easyui-linkbutton" plain="true" icon="icon-save" onclick="Save();">Save</a>
	        </div>
        </div>
        <div region="center" title="" border="false" style="padding:5px 5px 5px 5px;overflow:hidden;">
            <form id="changePassword" method="post" style="height:100%;">
				<table style="width:800px;" border="0" cellpadding="0" cellspacing="0">
					<tr style="height:24px">
						<td nowrap="nowrap">
                            <fieldset style="padding:10px;">
                                <legend>Password</legend>
				                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr style="height:35px">
						                <td style="text-align:right;width:120px;" nowrap>
							                <span>New Password：</span>
						                </td>
						                <td style="text-align:left;width:400px;">
                                            <input id="user_Password" name="user_Password" type="Password" style="width:280px;" value=""/>
						                </td>
                                    </tr>
                                    <tr style="height:35px">
						                <td style="text-align:right;width:120px;" nowrap>
							                <span>Repeat Password：</span>
						                </td>
						                <td style="text-align:left;width:400px;">
                                            <input id="user_confire_Password_Model" name="user_confire_Password_Model" type="Password" style="width:280px;" value=""/>
						                </td>
					                </tr>
				                </table>
                            </fieldset>
						</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Save() {
        var password = $('#user_Password').val();
        var confirm_Password = $('#user_confire_Password_Model').val();
        if (password != confirm_Password) {
            $.messager.alert('Error', 'Passwords do not match !', 'error');
            return;
        }
        var sUrl = '../User/UserChangePassWordSave';
        $('#changePassword').form('submit', {
            url: sUrl,
            onSubmit: function () {
            },
            success: function (r) {
                var rVal = $.parseJSON(r);
                if (rVal.result) {
                    $.messager.alert('Info', 'Success!', 'info');
                } else {
                    $.messager.alert('Error', 'Fail:' + rVal.message, 'error');
                }
            }
        })
    }
</script>