@{
    ViewBag.Title = "UserIndex";
    Layout = "~/Views/Shared/FrameShare.cshtml";
}

<div region="center" title="" border="false" style="padding:0px 0px 0px 0px;">
    <table id="dgUser" title="Users List" class="easyui-datagrid"> </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="Reload()">Reload</a>
        @Html.DropDownList("trimester_Id", (IEnumerable<SelectListItem>)ViewData["listTrimester"], new { style = "width:130px;" })
        @Html.DropDownList("status", (IEnumerable<SelectListItem>)ViewData["listApproved"], new { style = "width:90px;" })
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="NewUser()">New User</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="EditUser()">Edit User</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="DeleteUser()">Remove User</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="ApproveUser()">Approve</a>
    </div>
    <div id="editUser" class="easyui-window" title="User Information" style="padding: 10px;width:640px;height:440px;"
		data-options="iconCls:'icon-edit',minimizable:false,minimizable:false,closed:close,resizable:false,collapsible:false,modal:true,shadow:true">
			<div class="easyui-layout" fit="true">
				<div region="center" border="false" style="padding:10px;background:#eff3ff;border:1px solid #ccc;">
		            <form id="editUserForm" method="post" style="">
			            <table style="width:580px;" border="0" cellpadding="0" cellspacing="0">
				            <tr style="height:24px">
					            <td style="width:18%; text-align:right;" nowrap>
						            <span>UserName：</span>
					            </td>
					            <td style="width:82%" colspan="3">
						            <input id="user_Name" name="user_Name" class="easyui-validatebox textbox" data-options="prompt:'Enter User Name.',required:true" style="width:250px;"/>
					            </td>
				            </tr>
                            <tr style="height:24px">
					            <td style="width:18%; text-align:right;">
						            <span>Password：</span>
					            </td>
					            <td style="width:32%;">
						            <input id="user_Password" name="user_Password" type="passWord" style="width:250px;"/>
					            </td>
				            </tr>
                            <tr style="height:24px">
					            <td style="width:18%; text-align:right;">
						            <span>Confirm passWord：</span>
					            </td>
					            <td style="width:32%">
						            <input id="user_confire_Password_Model" name="user_confire_Password_Model" type="passWord" style="width:250px;"/>
					            </td>
				            </tr>
                            <tr style="height:24px">
					            <td style="width:18%; text-align:right;">
						            <span>Trimester：</span>
					            </td>
					            <td style="width:32%;">
						            @Html.DropDownList("user_Trimester_Id", (IEnumerable<SelectListItem>)ViewData["listTrimester"], new { style = "width:130px;" })
					            </td>
				            </tr>
                            <tr style="height:24px">
					            <td style="width:18%; text-align:right;">
						            <span>Email：</span>
					            </td>
					            <td style="width:32%;">
						            <input id="user_Email" name="user_Email" class="easyui-validatebox" data-options="required:true,validType:'email'" style="width:250px;"/>
					            </td>
				            </tr>
                            <tr style="height:24px">
					            <td style="width:18%; text-align:right;">
						            <span>Telephone：</span>
					            </td>
					            <td style="width:32%;">
						            <input id="user_Telephone" name="user_Telephone" style="width:250px;"/>
					            </td>
				            </tr>
                            <tr style="height:24px">
					            <td style="width:18%; text-align:right;">
						            <span>Skills：</span>
					            </td>
					            <td style="width:32%;">
						            <textarea id="user_Skill" name="user_Skill" style="width:250px;"></textarea>
					            </td>
				            </tr>
                            <tr style="height:24px">
					            <td style="width:18%; text-align:right;">
						            <span>Self_Introduction：</span>
					            </td>
					            <td style="width:32%;">
						            <textarea id="user_Introduction" name="user_Introduction" rows="8" cols="3" style="width:250px;"></textarea>
					            </td>
				            </tr>
			            </table>
		            </form>
				</div>
				<div region="south" border="false" style="text-align:right;height:30px;line-height:30px;">
					<a id="btnSave" class="easyui-linkbutton" iconCls="icon-ok" href="javascript:void(0)" onclick="Save()">Save</a>
					<a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onclick="$('#editUser').window('close');">Cancle</a>
				</div>
			</div>
		</div>
</div>

<script type="text/javascript">
    var currentId = null; // Select row to edit
    var trimesterId = $('#trimester_Id').val();
    var status = $('#status').val();
    $(function () {
        $("#dgUser").datagrid({
            url: '../User/UserList/?trimesterId=' + trimesterId+'&status='+status,
            pagination: true,
            pageSize: 30,
            rownumbers: true,
            singleSelect: true,
            toolbar: '#toolbar',
            fit:true,
            autoRowHeight: true,
            sortName: "user_Id",
            sortOrder: "desc",
            checkOnSelect: false,
            selectOnCheck:false,
            columns: [[
                    { field: 'ck', checkbox:true},
                    { field: 'user_Id', title: 'ID', width: 20, hidden: 'true' },
                    { field: 'user_Name', title: 'Name', width: 100 },
                    { field: 'user_Email', title: 'Email', width: 120 },
                    { field: 'user_Telephone', title: 'Telephone', width: 100 },
                    { field: 'Status', title: 'Status', width: 80 },
                    { field: 'user_Skill', title: 'Skill', width: 260},
                    { field: 'user_Introduction', title: 'Introduction', width: 260},
                    //{ field: 'Register_Time', title: 'Register_Time', width: 110, align: 'center' },
                    //{ field: 'Log_Time', title: 'Last_Log_Time', width: 110, align: 'center' },
                    { field: 'Update_Time', title: 'Last_Update_Time', width: 110, align: 'center' }
            ]],
            onSelect: function (rowIndex, rowData) {
                currentId = rowData.user_Id;
            },
            onDblClickRow: function (rowIndex, rowData) {
                EditUser();
            },
            onLoadSuccess: function (data) {
                $(this).datagrid('clearSelections');
            }
        });
        $("#trimester_Id").change(function () { trimesterId = $('#trimester_Id').val(); Reload(); });
        $("#status").change(function () { status = $('#status').val(); Reload(); });
    })
    function Reload() {
        var queryParams = $('#dgUser').datagrid('options').queryParams;
        queryParams.trimesterId = $("#trimester_Id").val();
        queryParams.status = $("#status").val();
        $('#dgUser').datagrid('reload');
    }
    function NewUser() {
        $("#editUser").window("open");
        $("#editUserForm")[0].reset();
        $("#editUserForm input[name='user_Name']").focus();
        currentId = null;
    }
    function EditUser() {
        var selectRow = $('#dgUser').datagrid('getSelected');
        if (selectRow) {
            $("#editUser").window("open");
            $.ajax({
                url: '../User/UserEdit/?id=' + selectRow.user_Id,
                type: 'post',
                dataType: 'json',
                success: function (r) {
                    $("#editUserForm input[name='user_Name']").val(r.user_Name);
                    $("#editUserForm input[name='user_Password']").val(r.user_Password);
                    $("#editUserForm input[name='user_confire_Password_Model']").val(r.user_Password);
                    $("#editUserForm input[name='user_Email']").val(r.user_Email);
                    $("#editUserForm input[name='user_Telephone']").val(r.user_Telephone);
                    $("#user_Skill").val(r.user_Skill);
                    $("#user_Introduction").val(r.user_Introduction);

                    $("#editUserForm input[name='user_Name']").focus();
                }
            });
            currentId = selectRow.user_Id;
        } else {
            $.messager.alert("Info", "Please select User！", "info");
        }
    }
    function DeleteUser() {
        var selectRow = $('#dgUser').datagrid('getSelected');
        if (selectRow) {
            $.ajax({
                url: '../User/UserDelete/?id=' + selectRow.user_Id,
                type: "post",
                dataType: "json",
                success: function (retValue) {
                    if (retValue.result) {
                        Reload();
                    } else {
                        $.messager.alert('Warning', 'Fail:' + retValue.message, 'error');
                    }
                }
            });
            currentId = null;
        } else {
            $.messager.alert("Info", "Please select User！", "info");
        }
    }
    function Save() {
        var password = $('#user_Password').val();
        var confire_password = $('#user_confire_Password_Model').val();
        if (password == confire_password) {
            $('#editUserForm').form('submit', {
                url: '../User/UserSave/?id=' + currentId,
                onSubmit: function () {
                    return $('#editUserForm').form('validate');
                },
                success: function (r) {
                    var rVal = $.parseJSON(r);
                    if (rVal.result) {
                        $('#editUser').window('close');
                        Reload();
                    } else {
                        $.messager.alert('Warning', 'Fail:' + rVal.message, 'error');
                    }
                }
            })
        }
        else {
            $.messager.alert('Warning', 'Fail: The Password and Confirem password is not the same!', 'error');
        }
    }
    function ApproveUser() {
        var checkRows = $('#dgUser').datagrid('getChecked');
        var idList = null;
        if (checkRows!=null) {
            $.each(checkRows, function (user_Id, item) {
                if (idList != null)
                    idList += ",";
                idList += item.user_Id;
            })
        }
        else {
            $.messager.alert("Info", "Please Check User！", "info");
            return;
        }
        $.ajax({
            url: '../User/UserApprove/?idList=' + idList,
            type: "post",
            dataType: "json",
            success: function (retValue) {
                if (retValue.result) {
                    Reload();
                } else {
                    $.messager.alert('Warning', 'Fail:' + retValue.message, 'error');
                }
            }
        });
    }

</script>

